@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f0f1e;
  color: white;
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

header {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 300;
  padding-left: 3px;
}

header > div > strong {
  font-family: "Roboto Slab", serif;
}

header > div > img {
  margin: 10px;
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

ul > li {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

ul > li::after {
  position: absolute;
  content: " ";
  width: 0%;
  height: 2px;
  background-color: aqua;
  top: 100%;
  left: 0%;
  cursor: pointer;
  transition: all 0.5s ease;
}

ul > li:hover::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 2px;
  background-color: aqua;
  cursor: pointer;
  transition: all 0.5s ease;
}

/*------*CIRCLES*--------*/

.circle1 {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 10%;
  right: 80%;
  position: absolute;
  border-radius: 100%;
  z-index: -10;
  animation: circle1 1s ease;
 }

@keyframes circle1 {
  0% {
    transform: translate(200%, 50%);
  }
}

.circle2 {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 70%;
  right: 50%;
  position: absolute;
  border-radius: 100%;
  z-index: -10;
  animation: circle2 1s ease; 
}

@keyframes circle2 {
  0% {
    transform: translate(100%, 200%);
  }
}

.circle3 {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 7%;
  right: 10%;
  position: absolute;
  border-radius: 100%;
  z-index: -10;
  animation: circle3 1s ease;
}

@keyframes circle3 {
  0% {
    transform: translateY(-100%);
  }
}

.circle4 {
  width: 140px;
  height: 140px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 35%;
  right: 40%;
  position: absolute;
  border-radius: 100%;
  z-index: -10;
  animation: circle4 1s ease;
}

@keyframes circle4 {
  0% {
    transform: translate(100%, 200%);
    opacity: 0;
  }
}

.circle5 {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 70%;
  right: 85%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
  animation: circle5 1s ease;
}

@keyframes circle5 {
  0% {
    transform: translateX(-100%);
  }
}

.circle6 {
  width: 90px;
  height: 90px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 55%;
  right: 5%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
  animation: circle6 1s ease;
}

@keyframes circle6 {
  0% {
    transform: translate(100%, 100%);
  }
}

.circle7 {
  width: 90px;
  height: 90px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 115%;
  right: 15%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle8 {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 130%;
  right: 50%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle9 {
  width: 90px;
  height: 90px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 130%;
  right: 90%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle10 {
  width: 110px;
  height: 110px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 95%;
  right: 35%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
  animation: circle10 1s ease;
}

@keyframes circle10 {
  0% {
    transform: translate(100%, 80%);
  }
}
.circle11 {
  width: 90px;
  height: 90px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 158%;
  right: 35%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle12 {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 235%;
  right: 25%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle13 {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 225%;
  right: 75%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle14 {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 280%;
  right: 80%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle15 {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 294%;
  right: 40%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle16 {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 325%;
  right: 73%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle17 {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 280%;
  right: 13%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle18 {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 330%;
  right: 7%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle19 {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 150%;
  right: 80%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

.circle20 {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 247, 255, 0.2);
  background-color: transparent;
  top: 255%;
  right: 70%;
  position: absolute;
  border-radius: 100%;
  z-index: -100;
}

/*------CIRCLES--------*/

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.main-img {
  background-image: url("img/perfil.png");
  background-size: cover;
  width: 400px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  filter: drop-shadow(3px 3px 9px rgb(0, 251, 255));
  margin-left: 40px;
  animation: main-img 1.2s ease;
  transform: translateY(-10%);
  z-index: 100;
}

@keyframes main-img {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.main-text {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  font-optical-sizing: auto;
  font-style: normal;
  animation: main-text 1.2s ease;
  transform: translateY(-10%);
  z-index: 100;
  
}

@keyframes main-text {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.main-text > h2 {
  font-size: 50px;
  text-shadow: rgba(0, 255, 255, 0.64) 1px 2px 2px;
}

.main-text > p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

strong {
  color: aqua;
  font-family: "Protest Guerrilla", sans-serif;
 text-shadow: rgba(0, 255, 255, 0.64) 1px 1px 1px;
}

.icons {
  display: flex;
  animation: icons 1.2s ease;
}

@keyframes icons {
  0% {
    transform: translateY(1000%);
  }
}

.icons > a {
  text-decoration: none;
}

#main-icons > a > i {
  margin: 10px;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 255, 255, 0.11);
  border-radius: 10px;
  padding: 6px;
  animation: icons 1.2s ease;
  transition: 0.6s;
}

#main-icons > a > i:hover {
  background-color: rgba(0, 255, 255, 0.505);
  transform: scale(1.1);
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  font-size: 20px;
  margin-bottom: 60px;
}

/*-----*ANIMATIONS*----*/
.hidden {
  transition: all 1s ease;
  opacity: 0;
}

.right {
  transform: translateX(100%);
  transition: all 1s ease;
}

.left {
  transform: translateX(-100%);
  transition: all 1s ease;
}

.leftservices {
  transform: translateX(-40%);
}

.leftbtn {
  transform: translateX(-200%);
}

.rightbtn {
  transform: translateX(200%);
}

.down {
  transform: translateY(100%);
  transition: all 1s ease;
}

.downcontador {
  transform: translateY(50%);
}

.downservices {
  transform: translateY(50%);
  transition: all 1s ease;
}

.container:nth-child(1) {
  opacity: 0;
  transition-delay: 400ms;
}

.container:nth-child(2) {
  opacity: 0;
  transition-delay: 800ms;
}

.container:nth-child(3) {
  opacity: 0;
  transition-delay: 1200ms;
}

.container:nth-child(4) {
  opacity: 0;
  transition-delay: 1600ms;
}

.container.show {
  transform: translate(0%, 0%);
  filter: blur(0px);
  opacity: 1;
}

.show {
  transform: translate(0%, 0%);
  filter: blur(0px);
  opacity: 1;
  transition: all 1.7s ease;
}
/*-----ANIMATIONS----*/

.about > div#sobremim {
  width: 600px;
  margin: auto;
}

.about > div#sobremim > p {
  text-align: justify;
}

#title {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  color: aqua;
  filter: drop-shadow(3px 3px 9px rgba(0, 251, 255, 0.601));
  text-decoration: underline;
}

#icons-skills {
  display: flex;
  justify-content: center;
  font-size: 100px;
  align-items: center;
  margin: 20px;
}

#icons-skills > i {
  filter: drop-shadow(3px 3px 9px rgba(0, 251, 255, 0.377));
}

/*----------*CONTAINER*-----------*/
#one {
  background-image: url("img/ifpdesporto.png");
  background-size: cover;
  background-position: center;
}

#two {
  background-image: url("img/recargasonlinemz.png");
  background-size: cover;
  background-position: center;
}

#three {
  background-image: url("img/batextecnology.png");
  background-size: cover;
  background-position: center;
}

#four {
  background-image: url("img/calcuradora.png");
  background-size: cover;
  background-position: center;
}

#five {
  background-image: url("img/analisadornr.png");
  background-size: cover;
  background-position: center;
}

#six {
  background-image: url("img/formulario.png");
  background-size: cover;
  background-position: center;
}

#seven {
  background-image: url("img/slidertransition.png");
  background-size: cover;
  background-position: center;
}

#eigth {
  background-image: url("img/tabuada.png");
  background-size: cover;
  background-position: center;
}

#nine {
  background-image: url("img/veridade.png");
  background-size: cover;
  background-position: center;
}

#ten {
  background-image: url("img/contador.png");
  background-size: cover;
  background-position: center;
}
/*------CONTAINER---------*/

.pcontainer {
  width: 100vw;
  display: none;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: start;
  align-items: center;
  margin: 30px 0px;
}

.pcontainer.on {
  display: grid;
}

.ppic {
  width: 650px;
  height: 400px;
  margin-left: 50px;
  border: 2px solid aqua;
  animation: ppic 1.2s ease;
  z-index: 5;
  border-radius: 20px;
}

@keyframes ppic {
  0% {
    transform: translateX(-100%);
  }
}

.ppic.on {
  width: 650px;
  height: 400px;
  margin-left: 50px;
  border: 2px solid aqua;
  animation: ppicon 1.2s ease;
  z-index: 5;
  border-radius: 20px;
}

@keyframes ppicon {
  0% {
    transform: translateX(100%);
  }
}

.ptxt {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: justify;
  padding-left: 100px;
  width: 600px;
}

.ptxt > h2 {
  font-size: 30px;
  color: aqua;
  padding-bottom: 60px;
  filter: drop-shadow(3px 3px 9px rgba(0, 251, 255, 0.601));
  animation: h2 1.2s ease;
}

@keyframes h2 {
  0% {
    transform: translateY(-100%);
  }
}

.ptxt > p {
  transform: translateY(-40px);
  font-size: 20px;
  animation: p 1.2s ease;
}

@keyframes p {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.ptxt > p.on {
  transform: translateY(-40px);
  font-size: 20px;
  animation: pon 1.2s ease;
}

@keyframes pon {
  0% {
    transform: translateX(-100%);
  }
}

.ptxt > a > button {
  background-color: rgba(0, 255, 38, 0.992);
  padding: 7px;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  font-size: 20px;
  width: 100px;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  animation: btn 1.2s ease;
}

@keyframes btn {
  0% {
    transform: translateY(200%);
  }
}

#contador {
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  filter: drop-shadow(3px 3px 9px rgba(0, 251, 255, 0.46));
}

.pbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#showhide {
  background-color: rgba(0, 255, 255, 0.81);
  padding: 7px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 20px;
  width: 100px;
  cursor: pointer;
  margin: 50px;
  font-family: "Roboto Slab", serif;
}

#prev,
#next {
  background-color: rgba(0, 255, 255, 0.11);
  filter: drop-shadow(3px 3px 9px rgba(0, 251, 255, 0.601));
  padding: 7px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: all 0.5s;
}

.buttons > a > button {
  background-color: aqua;
  padding: 7px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 20px;
  margin: 0px 200px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.services {
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  width: 100vw;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.services > .iconsservices {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.services > .iconsservices > .container {
  width: 250px;
  height: 200px;
  margin: 10px 40px 10px 40px;
  background-color: transparent;
  border-radius: 0px 30px 0px 30px;
  animation: container 1s ease;
  display: grid;
  grid-template-rows: 80% 20%;
  justify-content: center;
  align-items: center;
}

@keyframes container {
  0% {
    opacity: 0;
  }
}

.services > .iconsservices > .container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services > .iconsservices > .container > div > span {
  font-size: 60px;
  filter: drop-shadow(3px 3px 9px rgba(0, 251, 255, 0.377));
}

.services > .iconsservices > .container > div > p {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: aqua;
  font-weight: 700;
}

.services > .hidden.downservices > p {
  width: 900px;
  margin: 10px;
  line-height: 1.5;
  font-family: "Roboto Slab", serif;
  font-size: 19px;
}


.services > a > button {
  padding: 10px;
  font-size: 20px;
  background-color: rgb(5, 233, 5);
  color: black;
  border-radius: 20px;
  filter: drop-shadow(3px 3px 9px rgba(9, 255, 0, 0.373));
  font-family: "Roboto Slab", serif;
  margin: 50px;
}

footer {
  width: 100vw;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 0;
  background-color: rgba(0, 255, 255, 0.856);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500px;
  font-family: "Roboto Slab", serif;
}

footer > p > strong {
  color: rgb(0, 0, 0);
}
