body {
  margin: 0;
  padding: 0;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

body.escuro {
  --fundo-principal: #222222;
  --texto: #e0e0e0;
  --texto-inverso: #333333;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #444444;
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

#menu > ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: 0.5s;

}

#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}

#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid transparent;
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

#ficha h1 {
  color: var(--destaque);
  margin: 15px 0px;
  text-align: center;
}

#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  gap: 15px;
  margin-top: 15px;
}

#social a {
  color: var(--destaque);
  transition: 0.5s;
  padding: 0px 10px;
}

#social ul {
  padding: 0;
}

#social a:hover {
  color: var(--destaque-inverso);
}

#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article h2 {
  color: var(--destaque);
  margin-bottom: 10px;
}

#video .video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  margin: auto;
  height: min-content;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skill-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skill-container .nome {
  font-weight: bold;
  color: var(--texto);
}

#skill-container .porcent {
  font-weight: bold;
  color: var(--destaque);
}

#skill-container .barra {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--fundo-principal);
  margin-bottom: 20px;
}

#skill-container .progresso {
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 4px;
}

#formacao-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#formacao-container .curso {
  background-color: var(--fundo-principal);
  border-radius: 15px;
  border-left: 5px solid var(--destaque-inverso);
  border-bottom: 5px solid var(--destaque-inverso);
  padding-left: 15px;
  transition: 0.5s;
}

#formacao-container .curso:hover {
  border-left-width: 10px;
  border-bottom: 10px solid;
  border-color: var(--destaque);
  cursor: pointer;
}

#formacao-container h3,
p {
  margin: 0;
  padding: 5px 0px 5px 0px;
}

#formacao-container .periodo {
  padding-top: 3px;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--texto);
}

#formacao-container .instituicao {
  color: var(--destaque);
  font-size: 1.1em;
}

#projecto-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#projecto-container .projecto {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  transition: 0.5s;
}

#projecto-container .projecto:hover {
  border-left-width: 8px;
  border-color: var(--destaque);
  cursor: pointer;
}

#projecto-container .foto {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: over;
  overflow: hidden;
  border-radius: 8px;
}

footer {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 15px;
}

footer a {
  color: var(--texto-inverso);
  font-weight: 800;
}

footer a:hover {
  color: var(--destaque-inverso);
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: auto 300px 1fr auto;
  }

  #ficha {
    grid-column: 2/3;
    height: fit-content;
    position: sticky;
    top: 65px;
    margin-bottom: 20px;
  }

  #detalhes {
    grid-column: 3/4;
  }

  #skill-container {
    grid-template-columns: 1fr 1fr;
  }

  #projecto-container .projecto {
    flex-direction: row;
    justify-content: space-between;
  }

  #projecto-container .project-info {
    max-width: 80%;
  }

  #projecto-container .foto {
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }
}
